/*
* @Author: davidbenque
* @Date:   2018-02-13 15:33:28
* @Last Modified by:   davidbenque
* @Last Modified time: 2018-03-14 20:11:52
*/


body{
    font-family: "IBM Plex Mono";
    font-size: 16px;
    background-color: #eee;
    color: #555;
}


.navigation{
  font-weight: 300;
  font-size: 0.9em;
    padding: 15px;
}

.site-title{
    font-size: 20px;
    line-height: 30px;
}

.site-title a{
  color: #555;
  text-decoration: none;
}

.site-title a:hover{
  text-decoration: none;
  color: #888;
}

.nav-item{
  font-size: 20px;
  line-height: 30px;
}

.nav-item{
  text-decoration: none;
}

a.nav-icon{
display: inline-block;
}
a.nav-icon:hover {
  background-color: white;
}

footer {
  margin-top: 10px;
  font-size: 0.8em;
}

/* Node Page */

.node_container{
    max-width: 750px;
    margin: 0 auto 200px auto;
}

.prevnext{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 40px;
    margin-bottom: 20px;
}

.prevnext>div>div{
    line-height: 120%;
    margin-bottom: 10px;
}

.next{
    text-align: right;
}

.prev{
}


.node_content {
    margin: 15px;
  background-color: white;
  padding: 10px;
  border: 1px solid black;
}

.node_content img{
  max-width: 100%;
}



/* Image Grid */

.grid_container{
    width: 100%;
    text-align: center;
}

.grid {
padding: 20px;
}

.grid{
   display: grid;
   grid-gap: 10px;
   grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
   grid-auto-rows: 10px;
}

.item{
background-color: white;
padding: 2px;
}

.item a{
  text-decoration: none;
}

.item .content img{
    width: 100%;
    cursor: pointer;
}

/* Static Pages */

.static-content{
  margin-top: 50px;
  font-style: normal;
  max-width: 850px;
}

.static-content p{
  line-height: 145%;

}

.static-content blockquote p{
color: #888;
font-weight: 300;
margin: 0px 0px;
padding: 0px;
font-size: 15px;
  font-style: normal;

}
.static-content blockquote p a{
  color: #888;

}

/* Content Modal */
/* only used for editor */

.modal-content{
  width: 600px;
  border-width: 0;
  border-radius: 0;
  -webkit-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow:    0px 5px 15px 0px rgba(0, 0, 0, 0.5);
  box-shadow:         0px 5px 15px 0px rgba(0, 0, 0, 0.5);
}

#content-modal{
  /* font-family: "Operator SSm A", "Operator SSm B"; */
  font-style: normal;
  font-weight: 300;
}

.modal-backdrop{
  background-color: transparent;

}

.modal-backdrop.show{
  opacity: 1;
}

.modal-content {
    padding-bottom: 50px;
}

.caption, .reftitle, .refs {
  font-weight: 300;
  font-size: 0.9em;
  line-height: 120%;
  padding: 10px;
}

.caption{
  margin-bottom: 20px;
}

.caption p {
  display: inline;
  margin-bottom: 0;
}

.refs {
  color: #6a6a6a;
}

.refs p {
  margin-bottom: 0;
}

.title-block h2 {
    font-size: 30px;
    font-weight: 600;
}

.content-block img {
  max-width: 100%;
}

.quote-block{
  margin-bottom: 20px;
}


.image-block{
  margin-bottom: 20px;
}

.quote-block p {
  display: inline;
  font-size: 1.1em;
  line-height: 130%;
  margin-bottom: 0px;
}

.quote_source{
  font-weight: 300;
}
