/*
* @Author: davidbenque
* @Date:   2018-02-02 19:55:59
* @Last Modified by:   davidbenque
* @Last Modified time: 2018-02-15 16:48:16
*/



/*.container{
    width: 960px;
    padding: 0px;
    margin-bottom: 100px;
}*/

.header{
    margin: 10px 0 20px 0;
}

.key code{
    
    color: black;
    font-size: inherit;
    background-color: white;
    padding: 1px 2px;
}

.key{
    font-size: 0.6rem;
}

.editor{
    width: 960px;
    text-align: center;
    margin-bottom: 100px;
}

.editor svg{
    background-color: white;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.60);
    -moz-box-shadow:    0px 0px 20px 0px rgba(50, 50, 50, 0.60);
    box-shadow:         0px 0px 20px 0px rgba(50, 50, 50, 0.60);
}

.chop-border {
    stroke:black;
    stroke-width: 2px;
}

.graph-panel{
    fill: #eee;
}

/* Links */
    .link {
      stroke: #ccc;
      stroke-width: 0.5px;
    }

    .link.related_to{
        stroke: orange;
        stroke-width: 1.5px;
    }

    .link.staged{
        stroke-width:5px;
    }

    .link.selected{
        stroke: black;
    }

/* Nodes */

    .node text {
    cursor:pointer;
    font-size: 10px;
    }

    .node circle{
    stroke:#fff;
    stroke-width:1px;
    }

    .node.staged.selected circle{
        stroke: #ddd;
        stroke-width: 5px;
    }

    .node text{
        color:black;
        background-color: white;
        font-size: 10px;
        stroke: transparent;
    }

    .node circle.Artefact{
        fill: orange; 
    }

    .node circle.Reference{
        fill: turquoise;
    }

    .node circle.Image{
        fill: #FF66FF;
    }

    .node circle.Quote{
        fill: royalblue;
    }

    .node.new circle{
        stroke: red;
        stroke-width: 2px;
    }

    .node.dragging circle{
        fill: #7F7F7F;
    }

line.drag-line{
    visibility: visible;
    stroke: black;
    stroke-width: 1px;
}

line.drag-line.hidden{
    visibility: hidden;
}

.modal-content{
    padding: 10px;
}

.preview-img{
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}


