@font-face {
    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: 300;
    src: local("IBM Plex Mono Light"), 
    local("IBMPlexMono-Light"), 
    url("IBM-Plex-Mono/IBMPlexMono-Light.woff") format("woff2"), 
    url("IBM-Plex-Mono/IBMPlexMono-Light.woff2") format("woff");
 }
 
 @font-face {
    font-family: 'IBM Plex Mono';
    font-style: italic;
    font-weight: 300;
    src: local("IBM Plex Mono Light Italic"), local("IBMPlexMono-LightItalic"), url("IBM-Plex-Mono/IBMPlexMono-LightItalic.woff2") format("woff2"), url("IBM-Plex-Mono/IBMPlexMono-LightItalic.woff") format("woff"); 
}

 @font-face {
    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: 500;
    src: local("IBM Plex Mono Medium"), 
    local("IBMPlexMono-Medium"), 
    url("IBM-Plex-Mono/IBMPlexMono-Medium.woff") format("woff2"), 
    url("IBM-Plex-Mono/IBMPlexMono-Medium.woff2") format("woff");
 }

 @font-face {
    font-family: 'IBM Plex Mono';
    font-style: italic;
    font-weight: 500;
    src: local("IBM Plex Mono Medium Italic"), 
    local("IBMPlexMono-MediumItalic"), 
    url("IBM-Plex-Mono/IBMPlexMono-MediumItalic.woff") format("woff2"), 
    url("IBM-Plex-Mono/IBMPlexMono-MediumItalic.woff2") format("woff");
 }