.timeline_wrapper {
  display: grid;
  grid-template-columns: 1fr 400px;
  max-width: 1200px;
  margin:20px auto;
}

.timeline{
  display: inline-block;
}


.console{
  position: fixed;
  bottom: 0px;
  width: 790px;
  font-size: 2em;
  padding:5px 5px 20px 5px;
}

.timeline_legend {
  position: sticky;
  top:10px;
  border: 1px solid black;
  /* background-color: rgb(83.5%, 83.5%, 83.5%); */
  text-align:center;
  align-self: start;
  padding:5px 5px 15px 5px;
}


a.legend_item, .legend_item{
  display: block;
  padding:3px 10px;
  text-align: left;
}

.timeline_legend a{
  cursor: pointer;
}

.timeline_legend a:hover{
  background-color: #fff;
}

h1.legend, h2.legend{
  padding: 0px;
  margin: 10px;
}

h1.legend{
  font-size: 1.5em;
}

h2.legend {
  font-size: 1.25em;
}



.legend_item > span {
  margin-left: 10px;
  line-height: 15px;
}


/* SVG Timeline */

svg{
  
  /* background-color: #FFF; */
  /*shape-rendering: crispEdges;*/
}

.axis path,
.axis line {
  fill: none;
  shape-rendering: crispEdges;
}

.axis path.domain{
    stroke: none;
}

.axis text {

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #777777;
}

.tick line{
    stroke: #666;
}

.moveline{
  stroke: #555;
  stroke-width: 1px;
  stroke-dasharray: 1,3;
}

/* LINK TYPES */

  .link {
    stroke: rgb(119, 119, 119);
    stroke-width: 1px;
    fill: none;
  }

  .link.ref_link{
    stroke:red;
    stroke-width: 0.5;
    opacity: 0.1;
  }

  .link.theme{
    stroke-width: 10px;
    stroke-dasharray: 3,5;
    opacity: 0.7;
  }

  .link.translation{
    stroke-width: 1px;
    stroke: #333;
    marker-end: url(#translation);
  }
  marker#translation{
    fill:#333;
  }

  .link.used_in{
    stroke-width:1.5px;
    marker-end: url(#used_in);
    stroke:#777;
  }
  marker#used_in{
    fill:none;
    stroke:#777;
  }

  .link.device_evolution{
    stroke-width:4px;
  }

  .link.influence{
    stroke:#0000FF;
  }

  .link.opposition{
    stroke:#0000FF;
    stroke-width: 1px;
    marker-start: url(#opposition-start);
    marker-end: url(#opposition-end);
  }

  marker#opposition-start,  marker#opposition-end{
    fill:none;
    stroke: #0000FF;
  }

  .link.same_person{
    stroke: white;
    stroke-width:15px;
  }

  .link.ai_winter{
    stroke-width: 7px;
    stroke:#49f8ff78;
  }

  .link.same_technique{
    stroke-width:10px;
    stroke: #3a3a3a3d;
  }

  circle.inf_circle{
    fill: black;
  }

.node>circle.artefact_node{
  fill: rgba(0%, 0%, 0%, 0%);
  stroke: 1px;
  stroke: rgb(38.6%, 38.6%, 38.6%);
}

.node>circle.artefact_node:hover{
  fill: rgba(255, 255, 255, 0.932);
}

.node>circle.reference_node{
  fill: rgba(255, 0, 0, 0.2);
  stroke:none;
}

.node:hover {
  cursor: pointer;
}

.node.empty:hover{
  cursor: default;
}

.node.fixed circle{
  stroke: #fff;
  stroke-width: 2px;
}

.node text {
cursor:pointer;
font-size: 10px;
}

.node circle{
fill:#555;
}

.node.empty circle{
  fill: #aaa;
}
