{% extends "layout.html" %}


{% block head_imports %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://d3js.org/d3-queue.v3.min.js"></script>

    <script src="{{ url_for('static', filename='libs/moment.min.js') }}"></script>
    <script src="{{ url_for('static', filename='libs/mousetrap.min.js') }}"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">

{% endblock %}



{% block body %}



<link rel="stylesheet" href="{{ url_for('static', filename='css/editor.css') }}">

<div class="container">
    <div class="header row">
        <div class="col-sm-4">
            <i>Graph Editor</i>
        </div>
        <div class="col-sm-2 key">
            <code>e</code> - edit <br>
            <code>l</code> - link<br>
        </div>
        <div class="col-sm-2 key">
            <code>a</code> - new artefact <br>
            <code>q</code> - new quote<br>
            <code>i</code> - new image<br>
            <code>r</code> - new reference<br>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 console">> </div>
    </div>
    <div class="row">

        <div class="editor col-sm-12"></div>

    </div>
</div>

<div class="modal " id="Edit-Form-Modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <form id="zotero_form" method="post">

        </form>
        <form id="editform" class="edit-form" enctype="multipart/form-data">
            <fieldset>
                <div class="form-group row">
                    <label for="label-field" class="col-sm-2 col-form-label">Label:</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" name="label" id="label-field" placeholder="" readonly>
                    </div>
                    <label for="id-field" class="col-sm-1 col-form-label">ID</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" name="id" id="id-field" placeholder="" readonly>
                    </div>
                </div>
            </fieldset>

            <fieldset id="edit-form">
            </fieldset>

            <fieldset>
                <div class="form-group row">
                    <div class="col-sm-3">
                        <input type="text" class="form-control" name="newprop_name" placeholder="new prop">
                    </div>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" name="newprop_value" placeholder="value">
                    </div>
                </div>
            </fieldset>

            <fieldset id="footer">
                <button class="btn btn-outline-success" OnClick="to_graph('edit')">Save</button>
                <button class="btn btn-outline-danger" OnClick="to_graph('delete')">Delete</button>
            </fieldset>
        </form>

        <div id="Alert" class="alert alert-info" role="alert" style="display:none;"></div>

  </div>
</div>

<script>

$(document).ready(function() {
    // prevent default behaviour of submit button (refresh page)
    $('form').on('submit', function(event) {
        event.preventDefault();
    });
});


function to_graph(action) {
    var data = new FormData(jQuery('form')[1]);
    $.ajax({
        data : data,
        type : 'POST',
        url : '/editor/' + action,
        contentType: false,
        cache: false,
        processData: false
        //async: false
    })
    .done(function(data) {
        if (action === 'delete'){
            $('#Alert').text("DELETE MSG: " + data.message).show();
            // send id of node to delete to D3
            if (data.type === "node"){ delete_node(data.data); }
            else if (data.type === "link"){ delete_link(data.data); };

        } else if(action === 'edit'){
            $('#Alert').text("EDIT MSG: " + data.message).show();
            // send new properties to D3
            if (data.type === "node"){ edit_node(data.data); }
            else if (data.type === "link" && data.data != 'undefined'){
                edit_link(data.data);
            };

        };
    });
};

function to_zotero() {
  var uri = $("#zotero-field")[0].value;
  var id = uri.split('/').pop();
  $.ajax({
    url : '/editor/zotofill/' + id
  }).done(function(data){
    document.getElementById('date-field').value=data.date;
    document.getElementById('full_ref-field').value=data.full_ref;
    document.getElementById('quote_ref-field').value=data.citation;
    document.getElementById('title-field').value=data.title;
    if (data.link != ""){
      document.getElementsByName("newprop_name")[0].value="link";
      document.getElementsByName("newprop_value")[0].value=data.link;
    }
  })
}

</script>



<script src="{{ url_for('static', filename='editor.js') }}"></script>

{% endblock %}
