{% extends "layout.html" %}

{% block body %}


<script src="{{ url_for('static', filename='libs/imagesloaded.pkgd.min.js') }}"></script>


<div class="grid"></div>

<!-- Modal -->
    <div class="modal " id="Content-Modal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
        <div class="title-block"></div>
      </div>
        <div class="content-block">
        </div>
        </div>
      </div>
    </div>

<script>
    var data = d3.json("/api/get_images", function(json) { 

        var container = d3.select(".grid");

        var img_div = container.selectAll("div")
            .data(json.images)
            .enter()
            .append("div")
            .attr("class", "item")
            .append("div")
            .attr("class", "content")
            .append("img")
            .attr("src", function(d){
                return "http://ctf-img.s3.eu-west-2.amazonaws.com/" + d.file;
            })
            .on("click", function(d){
                load_content(d.artefact_id);
            });

        function resizeGridItem(item){
          grid = document.getElementsByClassName("grid")[0];
          rowHeight = parseInt(window.getComputedStyle(grid).getPropertyValue('grid-auto-rows'));
          rowGap = parseInt(window.getComputedStyle(grid).getPropertyValue('grid-row-gap'));
          rowSpan = Math.ceil((item.querySelector('.content').getBoundingClientRect().height+rowGap)/(rowHeight+rowGap));
            item.style.gridRowEnd = "span "+rowSpan;
        }

        function resizeAllGridItems(){
          allItems = document.getElementsByClassName("item");
          for(x=0;x<allItems.length;x++){
            resizeGridItem(allItems[x]);
          }
        }

        function resizeInstance(instance){
            item = instance.elements[0];
          resizeGridItem(item);
        }

        window.onload = resizeAllGridItems();
        window.addEventListener("resize", resizeAllGridItems);

        allItems = document.getElementsByClassName("item");
        for(x=0;x<allItems.length;x++){
          imagesLoaded( allItems[x], resizeInstance);
        }
        
    });




</script>

{% endblock %}