<html>
<head>
    <title>Diagrams of the Future{% block title %}{% endblock %}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--         <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script> -->
    <script src="{{ url_for('static', filename='libs/d3.v3.min.js') }}"></script>

{% block head_imports %}{% endblock %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/fonts.css') }}" />
<!-- Fork Awesome https://forkaweso.me -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fork-awesome@1.1.7/css/fork-awesome.min.css" integrity="sha256-gsmEoJAws/Kd3CjuOQzLie5Q3yshhvmo7YNtBG7aaEY=" crossorigin="anonymous">


</head>
<body>

        <div class="container navigation">
            <div class="row">
                <div class="site-title col-sm-6 col-lg-4"><a href="/">DIAGRAMS OF THE FUTURE</a></div>
                <div class="col-xs-6 col-sm-3 col-lg-5">
                    <a class="nav-item" href="/timeline">
                        <i class="fa fa-share-alt" aria-hidden="true"></i> CASE BOARD
                    </a>

                    <a class="nav-item" href="/references">
                      <i class="fa fa-book" aria-hidden="true"></i> REFS
                    </a>

                    <a href="/pages/about" class="nav-item">
                        <i class="fa fa-question-circle-o" aria-hidden="true"></i> ABOUT
                    </a>

                    
                </div>
                <div class="col-xs-6 col-sm-3">
                    
                </div>
            </div>
        </div>

<script src="{{ url_for('static', filename='content-loader.js') }}"></script>

{% block body %}{% endblock %}

<footer class="container">
<div class="row">
    {% if session.username %}
        🤓{{ session.username }} <a href="{{ url_for('logout') }}"> ⏏</a>
    {% endif %}</div>

    {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
    {% endfor %}
</footer>
</body>

</html>
