{% extends "layout.html" %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <form action="{{ url_for('login') }}" method="post">
          <dl>
              <dt>Username:</dt>
              <dd><input type="text" name="username"></dd>
              <dt>Password:</dt>
              <dd><input type="password" name="password"></dd>
          </dl>
          <input type="submit" value="Login">
        </form>
        </div>
    <div class="col-sm-8">
        
    </div>
    </div>
</div>
{% endblock %}