{% extends "layout.html" %}

{% set node_content = data.content %}

{% block title %} - {{ node_content.year }} {{ node_content.title }} {% endblock %}
{% block body %}

{% macro prevnext_item(item, pre='', post='') %}
    <div>
        <a href='/node/{{ item.id }}'>
        {{pre|safe}} {{ item.date[:4] }} - {{ item.title }} {{post|safe}}</a><br>
        
        {% if item.rel_type == 'theme' %}
            {{ item.rel_type }}: {{ item.theme }}
        {% else %}
            {{ item.rel_type }}
        {% endif %}
    </div>
{% endmacro %}

{% macro prev_next() %}
    <div class="prevnext">
        <div class="prev">
            {% for item in data.prev %}
                {{prevnext_item(item, pre='<i class="fa fa-arrow-left" aria-hidden="true"></i>')}}
            {% endfor %}
        </div>

        <div class="next">
            {% for item in data.next %}
                {{prevnext_item(item, post='<i class="fa fa-arrow-right" aria-hidden="true"></i>')}}
            {% endfor %}
        </div>
    </div>
{% endmacro %}

<div class="node_container">

{{ prev_next() }}


    

<div class="node_content">
    <h1>{{ node_content.title }}</h1>
    <h2>{{ node_content.year }}</h2>
    {% for image in node_content.images %}
        {% set image_url = 'http://ctf-img.s3.eu-west-2.amazonaws.com/' + image.filename %}
        <img src="{{ image_url }}" alt="">
        <div class='caption'>
            {{ image.caption|safe }} {{ image.source }}
        </div>
    {% endfor %}

    {% for quote in node_content.quotes %}
        <div class="quote-block">
            {{ quote.text|safe }}
            <span class="quote_source">{{ quote.source }}</span>
        </div>
    {% endfor %}
    <hr>
    <div class="refs">
        {% for ref in node_content.ref_list %}
            {{ ref|safe }}<br>
        {% endfor %}
    </div>
</div>

{{ prev_next() }}

</div>



<!-- {{ data }} -->

{% endblock %}
