{% extends "layout.html" %}

{% block body %}

<style>

    h2 {
        text-transform: uppercase;
        font-size: 1.6em;
    }

    .reference p {
        background-color: transparent;
        display: inline;
        margin: 0px;
    }

    .reference{
        margin-bottom: 30px;
    }

    .ref_list{
        margin-top: 30px;
        max-width: 850px;
    }

    .ref_list .section{
        margin-bottom: 50px;
    }

</style>

<div class="container">
    <div class="ref_list">
        {% for section in ["books", "papers", "articles", "other", "primary"] %}
            <div class="section">
                <h2>{{section}}</h2>
                {% for item in data[section] %}
                    <div class="reference">
                        {% if section == "other" %}
                        [{{item.type}}] 
                        {% endif%}
                        {{item.full_ref | safe}}
                        {% if item.link %}
                            <a href="{{item.link}}">[link]</a>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
            
        {% endfor %}
    </div>

    
</div>


{% endblock %}
