{% extends "layout.html" %}
{% block body %}

<div class="container">
    <div class="row">
        <div class="col-sm-4">
             <h2>Register</h2>
        </div>
    <div class="col-sm-8">
        <form action="{{ url_for('register') }}" method="post">
        <dl>
            <dt>Username:</dt>
            <dd><input type="text" name="username"></dd>
            <dt>Password:</dt>
            <dd><input type="password" name="password"></dd>
        </dl>
        <input type="submit" value="Register">
    </form>
    </div>
    </div>
</div>

 
	
{% endblock %}