{% extends "layout.html" %}


{% block head_imports %}
<script src="https://d3js.org/d3.v5.min.js"></script>
<script src="{{ url_for('static', filename='libs/moment.min.js') }}"></script>
<script src="{{ url_for('static', filename='timeline_defs.js') }}"></script>

<link rel="stylesheet" href="{{ url_for('static', filename='css/timeline.css') }}">

<!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/timeline.css') }}" /> -->

{% endblock %}


{% block body %}
<div class="timeline_wrapper">
    
    <div class="timeline"></div>
    <script src="{{ url_for('static', filename='timeline.js') }}"></script>
    
    <div class="timeline_legend"></div>
    <script src="{{ url_for('static', filename='timeline_legend.js') }}"></script>

    <div class="console">></div>
    
</div>

{% endblock %}
