{% extends "layout.html" %}

{% block title %} - {{ topos|capitalize }}{% endblock %}

{% block body %}

<script src="{{ url_for('static', filename='libs/imagesloaded.pkgd.min.js') }}"></script>

<h1>{{ topos|capitalize }}</h1>

<div class="grid">

{% for item in data %}

  <div class="item">
    <div class="content">
      <a href='/node/{{ item.id }}'>
      {% if item.image %}
        <img src="http://ctf-img.s3.eu-west-2.amazonaws.com/{{ item.image}}" alt="">
      {% endif %}
      {{ item.title }}<br>
      {{ item.year }}
      </a>
    </div>
  </div>


{% endfor %}

</div>

<script>
          function resizeGridItem(item){
            grid = document.getElementsByClassName("grid")[0];
            rowHeight = parseInt(window.getComputedStyle(grid).getPropertyValue('grid-auto-rows'));
            rowGap = parseInt(window.getComputedStyle(grid).getPropertyValue('grid-row-gap'));
            rowSpan = Math.ceil((item.querySelector('.content').getBoundingClientRect().height+rowGap)/(rowHeight+rowGap));
              item.style.gridRowEnd = "span "+rowSpan;
          }

          function resizeAllGridItems(){
            allItems = document.getElementsByClassName("item");
            for(x=0;x<allItems.length;x++){
              resizeGridItem(allItems[x]);
            }
          }

          function resizeInstance(instance){
              item = instance.elements[0];
            resizeGridItem(item);
          }

          window.onload = resizeAllGridItems();
          window.addEventListener("resize", resizeAllGridItems);

          allItems = document.getElementsByClassName("item");
          for(x=0;x<allItems.length;x++){
            imagesLoaded( allItems[x], resizeInstance);
          }
</script>

{% endblock %}
